.left-container {
  background: var(--color-primary);
  float: left;
  height: 90vh;
  width: 400px;
  border-radius: 2rem;
  margin-left: 1rem;
  padding: 4rem;
  align-self: center;
  position: relative;
  min-height: 400px;
}

.left-container h1 {
  font-size: 7.8rem;
  line-height: 7rem;
  font-weight: 500;
}
.left-container strong {
  font-family: Poppins-Bold;
}
.left-container .sub-title {
  margin-top: 2rem;
  font-size: 2rem;
}

.left-container a {
  display: block;
  text-decoration: none;
  height: 60px;
  background-color: var(--color-primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-font-primary);
  border-radius: 1rem;
  width: 32rem;
  margin-top: 1rem;
  font-family: Archivo-Bold;
  transition: background-color 0.2s;
  outline: none;
  font-size: 1.7rem;
  
}

.left-container a:hover {
  background-color: var(--color-button-light);
}

.button-container {
  position: absolute;
  bottom: 5rem;
}

.button-container p {
  margin-left: 0.3rem;
}

.right-container {
  width: 70%;
  display: flex;
  flex-direction: column;

  min-width: 200px;
  justify-content: center;
  align-items: center;
}

.right-container p {
  position: -ms-page;
  font-size: 2rem;
}
#p-before-input{
  margin-left: 0.3rem;
}
.right-container input[type=text] {
  height: 60px;
  width: 100%;
  background-color: var(--color-input);
  border-radius: 1rem;
  outline: none;
  border: 0;
  padding-left: 1rem;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.right-container input[type=text]::placeholder{
  color:var(--color-font-secundary);
}



.right-container form{
  height: 100%;
}


.after-input-container p{

  font-size: 1.5rem;

  margin-left: 1rem;
}

.after-input-container{
  display: flex;
  flex-direction: row;
  height: 37%;
  align-items: center;
  padding-left: 0.3rem;
}

.wrong-token{
  border: 2px solid var(--color-red-warning) !important;
}

.wrong-token::placeholder{
  color:  var(--color-red-warning)!important;
}


.right-container button {
  width: 35%;
  height: 60px;
  background: var(--color-primary);
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 1rem;
  font-family: Archivo-Bold;
  position: absolute;
  right: 0;

  font-size: 1.7rem;
  transition: background-color 0.2s;
}

.right-container button:hover {
  background-color: var(--color-button-light);
}

.right-container .input-container {
  position: relative;
  height: 175px;
  min-width: 70%;
}

.right-container .icon-right {
  height: 50px;
  width: 50px;
  background: var(--color-primary);
  position: absolute;
  right: 3rem;
  top: 1rem;
}

.main-container {
  width: 100%;
  display: inline-flex;
  height: 100%;
  min-height: 500px;
  margin-top: 35px;
}

.icon-arrow{
  height: 15px;
  fill: var(--color-font-primary);
  margin-left: 2rem;
}


@media (max-width: 1000px) {

  .menu-container {
    width: 20%;
  }
}

@media (max-height: 500px) {

  .left-container {
    height: 85vh;
  }
}