{
    "presets": [
        [
          "@babel/env",
          {
            "targets": {
                "electron": "10"
            },
            "useBuiltIns": "usage",
            "corejs": "3.6.4"
          }
        ]
      ],
    "plugins": [
      "@babel/proposal-class-properties"
    ],
   
  }