.background {
  background: var(--color-background-darkest);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 500px;

  position: relative;
}

.right-main-container {
  height: 90%;
  width: 89%;
  background: var(--color-background);
  border-radius: 2rem;
  position: absolute;
  right: 1.5rem;
  padding: 4rem;
}

.menu-container {
  height: 100%;
  width: 9%;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-menu {
  height: 50px;
  width: 50px;
  background-color: lavenderblush;
  margin-top: 4rem;
}



@media (max-width: 950px) {
  .right-main-container {
    width: 80%;
  }
  .menu-container {
    width: 19%;
  }



}

