.drawer {
  background-color: transparent !important;
  border: none !important;
  left: 1rem !important;

}

.drawer::-webkit-scrollbar{
  display: none;
}

.makeStyles-drawerClose-4{
  width: 8rem;
}

.MuiDrawer-paper{
  flex-shrink: 0;
  white-space: nowrap;
  height: auto;

}

.textItem .MuiListItemText-primary {
    font-size: 1.5rem;
    color: #e5e7e7f1;
    text-align: center;
  }
  
.iconButton {
    font-size: 3.5rem !important;
    color: white ;
    
  }


.listBar.MuiList-root {
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
  height: auto;
  background-color:  var(--color-primary-dark);
  border-radius: 1rem;
  margin-left: 1rem;
  }

.itemSelect {
  background-color:  var(--color-font-primary) !important;
  
}
.itemSelect > .toolbar  .iconButton {
  color:  var(--color-primary-dark) !important;
}

.itemSelect > .toolbar .MuiListItemText-primary {
  color:  var(--color-primary-dark) !important;
}


.arrow {
  justify-content: flex-end !important;
}

.arrow .iconButton {
  margin-left: 45%;
}

.toolbar:hover{
    background-color: var(--color-font-primary) !important;
    
}



.toolbar:hover .iconButton {
    color:  var(--color-primary-dark);
} 

.toolbar:hover .MuiListItemText-primary {
  color:  var(--color-primary-dark);
}


@media(max-width: 760px){

  .drawer{
    left: 0rem !important;
  }
  .arrow.toolbar.MuiListItem-root .iconButton.MuiSvgIcon-root {
    margin-left: auto;
  }

}