.drawer {
  left: 2rem !important;
  background-color: transparent !important;
  border-color: transparent !important;
  display: flex ;
}

.drawer::-webkit-scrollbar{
  display: none;
}


.MuiDrawer-paper{
  flex-shrink: 0;
  white-space: nowrap;
  flex-shrink: 0;
  white-space: nowrap
}

.textItem .MuiListItemText-primary {
    font-size: 1.5rem;
    color: #e5e7e7f1;
    text-align: center;
  }
  
.iconButton {
    font-size: 3.5rem !important;
    color: white ;
  }


.listBar.MuiList-root {
    top: 25%;
    height: auto;
    vertical-align: center;
    background-color:  var(--color-primary-dark);
    border-radius: 1rem;

  }





.toolbar.MuiListItem-root {
    display: flex;
    align-items: center;
}

.itemSelect {
  background-color:  var(--color-font-primary) !important;
  
}
.itemSelect > .toolbar.MuiListItem-root  .iconButton {
  color:  var(--color-primary-dark);
}

.itemSelect > .toolbar.MuiListItem-root .MuiListItemText-primary {
  color:  var(--color-primary-dark);
}


.arrow.toolbar.MuiListItem-root {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.arrow.toolbar.MuiListItem-root .iconButton.MuiSvgIcon-root {
  margin-left: auto;
}

.toolbar.MuiListItem-root:hover{
    background-color: var(--color-font-primary);
    
}



.toolbar.MuiListItem-root:hover .iconButton {
    color:  var(--color-primary-dark);
} 

.toolbar.MuiListItem-root:hover .MuiListItemText-primary {
  color:  var(--color-primary-dark);
}

@media(min-width:1260px){
 .drawer  > .MuiDrawer-paper{
  left: 2.5rem !important;
}
}