
.right-main-container {
  height: 95%;
  width: 90%;
  background: var(--color-background);
  border-radius: 2rem;
  position: absolute;
  right: 1.5rem;
  padding: 3rem;


}
.main-container {
  background-color: var(--color-background-darkest);
  height: 95%;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 500px;
  position: relative;
}

@media (max-width: 950px) {
  .right-main-container {
    width: 85%;
  }
  .menu-container {
    width: 12%;
  }



}

