.title-bar {
 
  -webkit-user-select: none !important;
  -webkit-app-region: drag !important; 
  height: 28px;
  width: 100%;
  background: var(--color-primary-dark);
  display: flex;
  position: fixed;
  z-index: 2;
}

.title{
  display: flex;
}

.title img{
  margin-left: 0.5rem;
  padding: 0.5rem;
  height: 28px;
  width: 28px;
}

.title h1{
  padding: 2.5rem;
  display: inline-block;
  width: auto;
  height: auto;
  position: absolute;
  left: 10px;  
  font-size: 1.2rem;
  display: flex;
  align-self: center;

}

.title-bar-btns {
  -webkit-app-region: no-drag !important;
  position: absolute;
  right: 0px;
  height: 100%;
  display: flex;
  align-self: center;
}

.title-bar-btns button {
  width: 45px;
  background-color: transparent;
  outline: 0;
  border: none;
}

.title-bar-btns button:hover {
  background-color: var(--color-input);
}

.icon-close, .icon-minus, .icon-square{
  fill: var(--color-font-primary);
  
}

.icon-square{
  height: 12px;
}

