.top-right-container {
    width: 50%;
    height: 100%;
    background-color: var(--color-background-dark);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.bot-description{
    height: 80%;
    width: 85%;
    font-size: 1.4rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select:text;
  }

.container-description-text h1 {
    writing-mode: vertical-lr;
    font-size: 1.5rem;
}

.container-button-icon{
    display: flex;
    width: 80%;
    height: auto !important;
    justify-content: flex-start;
   }

.CheckCircleIcon{
    margin-left: 2vh;
    color: green !important;
}

.SettingsIcon .MuiSvgIcon-root{
    margin-top: 1rem;
    font-size: 2rem;
}


.CancelIcon{
    color: rgb(145, 40, 40) !important;
}

.button-edit .MuiSvgIcon-root {
    margin-top: 1rem;
    font-size: 2.5rem;
}

.button-edit .MuiSvgIcon-root:hover{
    color: white !important;
}

.button-edit{
    display: block;
}

.button-edit-not{
    display: none;
}



.container-text-and-buttons{
    width: 100%;
   margin-bottom: 1rem;
} 
.container-button-lenghtText{
    width: 100%;
    display: flex;
    align-items: center;
}

.container-text-area{
    display: flex;
    justify-content: flex-start;
}

.length-text{
    background-color: transparent;
    justify-content: flex-end;
}

.text-area{
    resize:none;
    width: 100%;
    height: 12vh;
    margin-top: 1rem;
    color: White !important;
    border: none;
    font-size: 11px;
    line-height: 1.5rem;

}
.text-area-description-not-edit{
    background-color: transparent;
}

.text-area-description-edit{
    background-color: var(--color-background-darkest);
}
