.guild{
    width:  350px;
    min-width:  250px;
    height: 400px;
    background-color:   var(--color-primary);
    border-radius: 1rem;
    margin-right: 1rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    
}

.guild-icon{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-self: center;

}

.guild-name-container{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 1rem;
    margin-top: 2rem;
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins-Bold;
    font-size: 2.1rem;
    overflow: hidden;
}

.guild-informations{
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
}