
nav {

    background-color: aliceblue;
    
}

.Login {
    list-style-type: none;
    color: antiquewhite;
    font-size: 22;
    text-transform: uppercase;
}

ul {
   
}

li {
    display: inline-block;
    padding: 5px;
}