:root {
  font-size: 64%;

  --color-background: #36393f;
  --color-background-dark: #282b30;
  --color-background-darkest: #202225;
  --color-input: #484b52;
  --color-input-border: #41444a;
  --color-font-primary: #fafbfb;
  --color-font-secundary: #bababa;
  --color-font-terceary: #e5e7e7f1;
  --color-primary: #6ab694;
  --color-primary-dark: #52a37fda;
  --color-button-light: #58b088;
  --color-red-warning: #C26459;
}


@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url("../fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"),
    url("../fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Archivo-Bold";
  src: local("Archivo-Bold"),
    url("../fonts/Archivo-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.App {
  height: 100%;
  user-select: none;
}

.App {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  overflow-y:auto;
 
}

body {
  background-color: var(--color-background);
  
}

body,
button,
input,
textarea {
  font: 500 1.6rem Poppins-Regular;
  color: var(--color-font-primary);
}



::-webkit-scrollbar {

  width: 13px; 
  background-color: var(--color-background-darkest);
  border-radius: 10px;
}
.App::-webkit-scrollbar-track {
  margin-top: 35px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  
  border-radius: 10px;
  background-color: var(--color-input);
  

}

::selection {
  background: var(--color-primary);
}

img{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

}



@media (max-width: 800px) {
  :root {
    font-size: 55%;
  }
}

@media (max-height: 500px) {
  :root {
    font-size: 54%;
  }


}

